<% var currentPage = "posts" %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>guoshencheng's home page</title>
  <% include ../partials/common-js.ejs %>
</head>
<body>
  <% include ../partials/header.ejs %>
  <div class="container">
    <% for(var index in posts) { var post = posts[index] %>
      <div class="post-item">
        <a class="post-item-title" href="/posts/<%- post.id %>" ><%- post.title || "没有标题" %></a>
        <div class="post-item-desc"><%- post.short || "没有描述" %></div>
        <div class="post-item-bottom">
          <div class="post-item-authname">Author:<%- author.name %></div>
          <div class="post-item-email">Email:<%- author.email %></div>
        </div>
      </div>
    <% } %>
  </div>
</body>
<% if ( env == "development" ) { %>
  <script src="/dist/posts.js"></script>
<% } else { %>
  <link rel="stylesheet" href="/dist/homepage.<%- hash %>.css"">
  <script src="/dist/posts.<%- hash %>.js"></script>
<% } %>
</html>
