<% var currentPage = "posts" %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <title>guoshencheng's home page</title>
  <% include ../partials/common-js.ejs %>
</head>
<body>
  <div class="container">
    <% for(var index in posts) { var post = posts[index] %>
      <div class="post-item">
        <a class="post-item-title" href="/posts/<%- post.id %>" >  <%- post.title || "没有标题" %> </a>
        <div class="post-item-base-info"> <%- post.created %> / <%- author.name %> </div>
        <div class="post-item-desc"><%- post.short || "没有描述" %></div>
        <a href="/posts/<%- post.id %>" >
          <div class="see-more"> > see more </div>
        </a>
      </div>
    <% } %>
  </div>
</body>
<% if ( env == "development" ) { %>
  <script src="/dist/posts.js"></script>
<% } else { %>
  <link rel="stylesheet" href="/dist/posts.<%- hash %>.css"">
  <script src="/dist/posts.<%- hash %>.js"></script>
<% } %>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?517d8840b7d2d14e1a0cb2869b27cb9a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</html>
