<% var currentPage = "posts" %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>guoshencheng's home page</title>
  <% include ../partials/common-js.ejs %>
</head>
<body>
  <div class="container">
    <% for(var index in posts) { var post = posts[index] %>
      <div class="post-item">
        <a class="post-item-title" href="/posts/<%- post.id %>" >  <%- post.title || "没有标题" %> </a>
        <div class="post-item-base-info"> <%- post.created %> / <%- author.name %> </div>
        <div class="post-item-desc"><%- post.short || "没有描述" %></div>
        <a href="/posts/<%- post.id %>" >
          <div class="see-more"> > see more </div>
        </a>
      </div>
    <% } %>
  </div>
</body>
<% if ( env == "development" ) { %>
  <script src="/dist/posts.js"></script>
<% } else { %>
  <link rel="stylesheet" href="/dist/posts.<%- hash %>.css"">
  <script src="/dist/posts.<%- hash %>.js"></script>
<% } %>
</html>
