<% var currentPage = "posts" %>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <meta name="keywords" content="guoshencheng,century,guo,javascript,贰年人">
  <meta name="author" content="guoshencheng">
  <meta name="description" content="<%- post.short %>">
  <meta property="og:site_name" content="guoshencheng's Blog - 贰年人博客">
  <title><%- post.title || "guoshencheng's Blog - 贰年人博客" %></title>
  <meta name="HandheldFriendly" content="true">
  <meta name="author" content="guoshencheng">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%- post.title %>">
  <meta property="og:description" content="<%- post.short %>">
  <meta property="og:url" content="https://www.guoshencheng.com/posts">

  <% include ../partials/common-js.ejs %>
  <% if ( env != "development" ) { %>
    <link rel="stylesheet" href="/dist/post.<%- hash %>.css">
  <% } %>
  <link rel="stylesheet" href="/stylesheets/github-markdown.css">
  <link rel="stylesheet" href="/stylesheets/atom-one-dark.css">
  <script src="/javascripts/highlight.pack.js" charset="utf-8"></script>
</head>
<body>
  <% include ../partials/header.ejs %>
  <div class="container">
    <div class="base-info">
      <div class="post-item-title"><%- post.title || "没有标题" %></div>
      <div class="post-item-base-info"> <%- post.created %> / <%- author.name %> </div>
    </div>
    <div class="markdown-body">
    <%- html %>
    </div>
    <div class="post-bottom-info">
      <a href="mailto:<%- author.email %>" class="post-item-email">Mail to: <%- author.email %></a>
    </div>
  </div>
</body>
  <script>hljs.initHighlightingOnLoad();</script>
<% if ( env == "development" ) { %>
  <script src="/dist/post.js"></script>
<% } else { %>
  <script src="/dist/post.<%- hash %>.js"></script>
<% } %>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?517d8840b7d2d14e1a0cb2869b27cb9a";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</html>
